:root {
  --theme: #464646;
}

* {
  margin: 0%;
}

body {
  background-color: rgb(234, 221, 202);
}

h1 {
  padding-left: 35px;
  background-color: rgba(0, 0, 0, 0.04);
  color: var(--theme);
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  /* align-content: flex-end; */
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

li {
  display: inline-block;
  margin: 5px;
}

.navleft {
  flex-basis: 200px;
}

.navright {
  flex-basis: 250px;
}

a:link {
  color: var(--theme);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.homenav a:link {
  background-color: rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
}

a:active {
  background-color: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 3px;
}

a:visited {
  color: var(--theme);
}

.background {
  background-image: url(/projects/images/kdot.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;

  width: auto;
}

.background_text {
  color: black;
  line-height: 1.7;
  text-align: justify;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 2vw;
  /* TRY THIS-->> font-size: 1fr; */
  font-weight: bolder;
  margin: auto;
}

.morale {
  color: var(--theme);
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: 1px underline var(--theme);
}

.container {
  display: flex;
  width: auto;
  /* flex-wrap: wrap; */
  /* align-content: space-between; */
  align-content: space-around;
  justify-content: center;

  /* flex-direction: column; */
}

.left {
  font-family: sans-serif;
  max-width: 50%;
  margin-right: 50px;
  padding-left: 30px;

  /* text-align: center; */
  line-height: 1.7;
}

.left1,
.left2,
.left3 {
  display: inline-block;
  margin-bottom: 15px;
}

.right {
  max-width: auto;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.03);
  align-items: flex-start;
}

table {
  width: auto;
  display: inline-block;
}

th {
  border-bottom: 3px solid var(--theme);
  text-transform: uppercase;
  color: var(--theme);
}

td {
  text-align: center;
  border-bottom: 2px solid var(--theme);
  height: 85px;
  max-width: 50%;
}

tr {
  max-width: 50%;
}

footer {
  color: var(--theme);
  background-color: rgba(0, 0, 0, 0.03);
  margin-top: 100px;
  display: block;
  text-align: center;
  /* font-weight: bold; */
  font-size: 15px;
  font-family: sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
  .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .left {
    max-width: fit-content;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 750px) {
  .right {
    max-width: fit-content;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* TRY USING CSS GRID AND SETTING LEFT AND RIGHT TO 1FR AND AUTO */
