body {background-color: black;}
.city{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 100%;
    font-style: normal;
}
.town{
    background-color: tomato;
    color: black;
    border: black;
    font-size: 100%;
    font-style: italic;
}