body {
  background-color: white;
}
h1 {
  background-color: tomato;
  color: white;
  font-size: 300%;
  font-style: oblique;
}
hr {
  border: 5%;
  margin: 5%;
  color: tomato;
  background-color: tomato;
}
p {
  background-color: tomato;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.city {
  background-color: tomato;
  color: white;
  border: 2px solid white;
  font-size: 100%;
  font-style: normal;
}
.town {
  background-color: tomato;
  color: white;
  border: white;
  font-size: 100%;
  font-style: italic;
}
.capital {
  color: black;
  font-size: 200%;
  font-style: italic;
}
