* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  max-width: 100%;
}

:root {
  --theme: #313131;
}

.topnav {
  background-color: var(--theme);
  padding: 12px 22px 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav li {
  display: inline-block;
  list-style-type: none;
}

.topnav a:link {
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
  padding: 10px 20px 20px;
  text-decoration: 1px underline var(--theme);
}

.topnav a:active {
  color: white;
}

.manbackground {
  background-image: url(/projects/images/Guitar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  max-width: auto;
  text-align: center;
}

.manbackground h1 {
  color: white;
  font-size: 70px;
  font-family: sans-serif;
  padding-top: 160px;
  margin-bottom: 50px;
}

.manbackgroundtext {
  font-family: sans-serif;
  color: white;
  padding: 0px 5%;
}

.manbackgroundtext1 {
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: bold;
}

.manbackgroundtext2 {
  font-size: 20px;
  line-height: 2;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 150px;
}

.music {
  background-color: var(--theme);
  max-height: fit-content;
  max-width: auto;
  text-align: center;
  color: white;

  max-width: auto;
  padding: 0px 8%;
}

.🎵Music {
  font-size: 45px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  padding-top: 50px;
}

.🎵Music::first-letter {
  font-size: 50px;
}

.million45 {
  font-size: 40px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.streamover {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  margin-top: 50px;
  line-height: 1.8;

  margin-bottom: 25px;
}

/* .streamover::first-letter {
  padding-left: 80px;
} */

.music a {
  display: inline-block;
  background-color: rgb(255, 0, 65);
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  border-radius: 50px;
  padding: 15px 12px 15px;
  max-width: fit-content;
}

.music a:hover {
  background-color: red;
}

.orangemusic {
  margin-top: 50px;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 20px;
}

.music img {
  max-width: 100%;
}

.middlewhite {
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-family: "pt sana";
  max-width: auto;
  max-width: fit-content;
  /* display: flex;
  flex-direction: column; */
  margin: 0px auto;
  padding: 50px 5%;
}

.themovie {
  line-height: 1.5;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
  color: var(--theme);
  padding: 0% 5%;
}

.withover {
  font-size: 22px;
  margin-bottom: 50px;
  line-height: 1.8;
  color: var(--theme);
  margin-left: 5%;
  margin-right: 5%;
}

.middlewhite a {
  display: inline-block;
  background-color: rgb(75, 0, 255);
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 100px;
  padding: 15px 20px 15px;
  max-width: fit-content;
}

.middlewhite a:hover {
  background-color: blue;
}

.middlewhite img {
  max-width: 100%;
}

.bluebackground {
  background-image: url(/projects/images/entertainment.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  max-width: auto;
  text-align: center;
  color: white;
}

.aworld {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 150px 8% 0px;
}

.bluelorem {
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 50px;
  line-height: 1.8;
  padding: 0% 8% 200px;
}

.giftcardsection {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);
  height: fit-content;
  max-width: auto;
  text-align: left;
  padding: 6% 5%;
}

.cardimage {
  flex-basis: 49%;
  align-items: baseline;
}

.giftcardsection img {
  max-width: 100%;
}

.giftcardsectiontext {
  flex-basis: 49%;
}

.giftcardsectiontext h2 {
  color: var(--theme);
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.cardlorem {
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.8;
  color: var(--theme);
  margin-bottom: 20px;
}

.alreadyhave {
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  color: var(--theme);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--theme);
}

.giftcardsectiontext a:link {
  display: inline-block;
  margin-top: 10px;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  color: var(--theme);
  text-decoration: none;
}

.giftcardsectiontext a:visited {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: var(--theme);
  text-decoration: none;
}

.end {
  background-color: var(--theme);
  font-family: "PT Sans", sans-serif;
  max-width: 100%;
  height: fit-content;
  color: white;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.end p {
  border-bottom: 3px solid #3b3b3b;
  padding-bottom: 10px;
}

.end ul {
  padding-top: 10px;
}

.end li {
  font-size: 15px;
  list-style-type: none;
  margin-top: 5px;
  color: rgb(220, 220, 220);
}

.end a:link {
  color: rgb(220, 220, 220);
  text-decoration: none;
}

.end a:visited {
  color: rgb(220, 220, 220);
}

.end a:active {
  color: rgb(220, 220, 220);
}

.ShopLearn {
  font-size: 20px;
  flex-basis: 20%;
  padding-left: 5%;
}

.OrangeStore {
  font-size: 20px;
  flex-basis: 20%;
}

.EducationBusiness {
  font-size: 20px;
  flex-basis: 20%;
}

.AboutOrange {
  font-size: 20px;
  flex-basis: 20%;
}

footer {
  background-color: #3b3b3b;
  padding: 15px;
  text-align: center;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}

/* MEDIA QUERIES DOWN BELOW */

@media screen and (max-width: 580px) {
  .topnav li {
    display: none;
  }
  .topnav li:first-child {
    display: inline-block;
  }
  .manbackgroundtext2 {
    display: none;
  }

  .manbackground h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .manbackgroundtext1 {
    line-height: 1.5;
    font-size: 25px;
    margin-bottom: 0%;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 750px) {
  .giftcardsection {
    flex-direction: column;
  }

  .end {
    display: none;
  }
}

@media screen and (max-width: 975px) {
  .end {
    display: none;
  }
}
